@import "tailwindcss";

html,
body {
  overflow-x: hidden !important;
  max-width: 100vw;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
}

/* Apply this class to a semi-transparent shadow graphic placed directly over your Fabric canvas */
.wrinkle-overlay {
  mix-blend-mode: multiply;
  pointer-events: none; /* Allows user to drag canvas items underneath the overlay safely */
}